body .wrapper
{
	padding: 0 0 50px 0;
}

body header
{
	padding: 15px;
	height: 100px;
}

.align-vertical
{
	display: flex;
	align-items: center;
}

.askbtn
{
	margin: 15px;
	background-color: #5A8D17;
	box-shadow: 5px 5px;
}

.askbtn:hover
{
	background-color: #8FD039;
}

.asktxt
{
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
}

.myavatar
{
	width: 100px;
	height: 70px;
}

hr
{
	margin: 5px 0;
	background-color: black;
	color: black;
	height: 2px;
}

#heading
{
	margin: 10px;
}

.thatborder
{
	border-width: 1px;
	border-style: solid;
	border-color: black;
}

.question
{
	padding: 12px 0;
	margin: 10px;
	height: 180px;
}

.question-header
{
	max-height: 30px;
	overflow: hidden;
	margin: -12px 0 0px 0;
	text-decoration: underline;
	color: #428BCA;
}


.question-text
{
	max-height: 140px; 
	overflow: hidden; 
	text-align: justify;
	line-height: 20px;
}

	.question-text:before
	{
		content:"";
		float: left;
		width: 1px; 
		height: 140px;
	}

	.question-text > *:first-child 
	{
		float: right;
		width: 100%;
		margin-left: -5px; 
	}

	.question-text:after
	{
		content: "\02026";  

		box-sizing: content-box;
		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;

		float: right; 
		position: relative;
		top: -20px; 
		left: 100%; 
		width: 3em; 
		margin-left: -3em;
		padding-right: 5px;
			
		text-align: right;

		background: -webkit-gradient(linear, left top, right top,from(rgba(255, 255, 255, 0)), to(white), color-stop(50%, white));
		background: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);			
		background: -o-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
		background: -ms-linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white);
		background: linear-gradient(to right, rgba(255, 255, 255, 0), white 50%, white); 
	}

.classcntr
{
	height: 40px;
	margin: 20px 0 0 0;
	padding: 0 0;
}

.classbtn
{
	height: 18px;
	text-decoration: none;
	color: black;
	margin: 1px 0;
}

.classbtn:hover
{
	color: blue;
}


div#popular-tags h1
{
	margin: 0 0;
}

div#popular-tags a
{
	text-decoration: none;
	color: black;
	margin: auto 10px;
}

div#popular-tags .red-poptag
{
	color: red;
	font-size: xx-large;
}

div#popular-tags .green-poptag
{
	color: green;
	font-size: x-large;
}

div#popular-tags .yellow-poptag
{
	color: yellow;
	font-size: small;
}

aside
{
	padding: 30px 0;
}


.a-underlined
{
	text-decoration: underline;
	color: #428BCA;
}

.best-members
{
	line-height: 30px;
}

nav
{
	padding: 0 10px;
}

ul.pagination li a
{
	margin: 0 10px;
	box-shadow: #333 5px 5px;
	color: black;
}

	ul.pagination li a:hover
	{
		color: black;
	}

.pagination > li:first-child > a
{
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

.pagination > li:last-child > a
{
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

footer
{
	display: none;
}
