<!Doctype html>

<html>
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" />
		<link rel="stylesheet" type="text/css" href="css/styles.css" />
	</head>

	<body>
		<div class = "wrapper container">
			
			<header class="row align-vertical">
				<div class="col-md-3 text-center">
					<h1><a href="/">AskPupkin</a></h1>
				</div>

				{% block login-signup %}
				{% endblock login-signup %}

				{% block index%}
				{% endblock index%}

				{% block index-loggedin %}
				{% endblock index-loggedin %}
			</header>
			
			<hr>

			<div class = "row">

				<section class = "col-md-8">
					{% block login %}
					{% block signup %}
						<div id="heading">
							<h1>Tag: bender</h1>
							<div>
								<a href="/by_rating">by rating</a>
								<a href="/by_date">by date</a>
							</div>
						</div>

						<!--question-->
						{% for q in qs %}
							<div class="question thatborder" >
									<div class="col-md-2">
										<img src="http://lorempixel.com/500/500" class="img-responsive" alt="Avatar">
										<div class="classcntr thatborder">
											<div class="col-md-7 text-center" style="margin: 9px 0; padding: 0">
												<span>{{ q.author.rating }}</span>
											</div>
											<div class="col-md-5" style="margin: 0; padding: 0; border-left: 1px solid black">
												<a href="#">
													<div class="classbtn text-center">
														<span class="glyphicon glyphicon-thumbs-up"></span>
													</div>
												</a>
												<a href="#">
													<div class="classbtn text-center">
														<span class="glyphicon glyphicon-thumbs-down"></span>
													</div>
												</a>
											</div>
										</div>
									</div>
									<div class="col-md-10">
										<div class="question-header">
											<h4><a href="#">{{ q.title }}</a></h4>
										</div>
										<div class="question-text">
											<div>
												<p>{{ q.text }}</p> 
											</div>
										</div>
									</div>
							</div>
						{% endfor %}
						<!--end of question-->

						<nav>
							<ul class="pagination">
								{% for p in qs.paginator.page_range %}
								   	<li><a href="?page={{ p }}">{{ p }}</a></li>
								{% endfor %}
							</ul>
						</nav>
					{% endblock signup %}
					{% endblock login %}
				</section>

				<aside class="col-md-4">
					<div id="popular-tags">
						<div>
							<h1>Popular Tags:</h1>
						</div>
						<a href="#" class="black-poptag">perl</a>
						<a href="#" class="red-poptag">python</a>
						<a href="#" class="black-poptag">TechnoPark</a>
						<a href="#" class="red-poptag">MySQL</a>
						<a href="#" class="green-poptag">django</a>
						<a href="#" class="black-poptag">Mail.ru</a>
						<a href="#" class="black-poptag">Voloshin</a>
						<a href="#" class="yellow-poptag">firefox</a>
					</div>
					<div class="a-underlined best-members">
						<h1>Best members</h1>
						{% for m in best_ms %}
							<div>
								<a href="#">{{ m }}</a>
							</div>
						{% endfor %}
					</div>
				</aside>
			</div>

			<footer>
				{% block footer %}
					footer
				{% endblock footer %}
			</footer>
		</div>
	</body>
</html>
