{% extends "base.html" %}

{% block index-loggedin%}
	<div class="form-inline form-search col-md-5">
		<form name="search" action="#" method="get">
			<div class="input-group">
				<label class="sr-only" for="searchInput">Search</label>
				<input name="search" class="form-control" id="searchInput" type="text" placeholder="Search">
				<div class="input-group-btn">
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
				</div>
			</div>
		</form>
	</div>
				
	<button class="btn askbtn col-md-2" type="button"><span class="asktxt">ask!</span></button>
	<img src="http://lorempixel.com/500/500" class="img-responsive myavatar col-md-1" alt="MyAvatar">
	<div class="col-md-2">
		{{username}}	
		<div class="row">
			<div class="col-md-4 a-underlined">
				<a href="#">settings</a>
			</div>
			<div class="col-md-8 a-underlined">
				<a href="#">log out</a>
			</div>
		</div>
	</div>
{% endblock index-loggedin%}