{% extends "base.html" %}

{% block login-signup %}
	<div class="form-inline form-search col-md-7">
		<form name="search" action="#" method="get">
			<div class="input-group">
				<label class="sr-only" for="searchInput">Search</label>
				<input name="search" class="form-control" id="searchInput" type="text" placeholder="Search">
				<div class="input-group-btn">
					<button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span></button>
				</div>
			</div>
		</form>
	</div>

	<div class="col-md-4">
		<div class="col-md-3 a-underlined text-center">
			<a href="#">log in</a>
		</div>
		<div class="col-md-3 a-underlined text-center">
			<a href="#">sign up</a>
		</div>
	</div>
{% endblock login-signup %}
