{% extends "login-signup.html" %}

{% block login %}
	<div class="col-md-5 form-horizontal">
		<h1>Log in:</h1>
		<form name="search" action="#" method="get">
			<div class="form-group">
				<label class="control-label col-xs-4" for="login">Login</label>
				<div class="col-xs-8">
					<input type="text" class="form-control" name="login" id="loginInput" placeholder="Enter your login here">
				</div>
			</div>
			<div class="form-group">
				<label class="control-label col-xs-4" for="password">Password</label>
				<div class="col-xs-8">
					<input name="login" class="form-control" id="passwordInput" type="text" placeholder="*******">
				</div>
			</div>
			<div class="form-group">
				<div class="col-xs-offset-4 col-xs-8">
					<button type="submit" class="btn btn-primary">Log in!</button>
				</div>
			</div>
		</form>
		<div class="col-xs-offset-4 a-underlined">
			<a href="#">create new account</a>
		</div>
	</div>
{% endblock login %}
