{% extends "login-signup.html" %}

{% block signup %}
<div class="col-md-6 form-horizontal">
	<h1>Settings:</h1>

	<form name="settings" action="#" method="get">

		<div class="form-group">
			<label class="control-label col-xs-4">Login</label>
			<div class="col-xs-8">
				<input type="text" id="loginInput" name="login" class="form-control" placeholder="Enter your login here">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-xs-4">E-mail</label>
			<div class="col-xs-8">
				<input type="text" id="emailInput" name="email" class="form-control" placeholder="Enter your email here">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-xs-4">Nickname</label>
			<div class="col-xs-8">
				<input type="text" id="nicknameInput" name="nickname" class="form-control" placeholder="Enter your nickname here">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-xs-4">Password</label>
			<div class="col-xs-8">
				<input type="text" id="passwordInput" name="password" class="form-control" placeholder="*******">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-xs-4">Repeat password</label>
			<div class="col-xs-8">
				<input type="text" id="repeat-passwordInput" name="repeat-password" class="form-control" placeholder="*******">
			</div>
		</div>

		<div class="form-group">
			<label class="control-label col-xs-4">Upload avatar</label>
			<div class="col-xs-8">
				<img src="http://lorempixel.com/100/100" class="img-responsive " alt="MyAvatar">
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-offset-4 col-xs-8">
				<div class="input-group">
					<input type="text" id="path-to-avatar" name="path-to-avatar" class="form-control" placeholder="path/to/avatar">
					<div class="input-group-btn">
						<button type="button" class="btn btn-default">Choose</button>
					</div>
				</div>
			</div>
		</div>

		<div class="form-group">
			<div class="col-xs-offset-4 col-xs-8">
				<button type="submit" class="btn btn-primary">Save!</button>
			</div>
		</div>
	</form>

</div>
{% endblock signup %}
